#treeWrapper {
  display: block;
  height: 800px;
  width: 100%;
  margin: 0 auto; }

.label {
  display: block;
  height: 165px;
  border-radius: 4px;
  background-color: #efefef;
  border: solid 1px #cdcdcd;
  color: #4a4a4a; }

.label img {
  height: 50px;
  width: 50px;
  z-index: 5;
  border: solid 1px #cdcdcd;
  margin-top: 10px; }

.linkBase {
  stroke: #cdcdcd; }

h6, p {
  max-width: 119px;
  white-space: normal;
  overflow: hidden; }

p {
  overflow: hidden;
  color: #555;
  text-overflow: ellipsis; }

.nodeBaseName {
  text-overflow: ellipsis; }

.active {
  background-color: #ffffe4;
  border-color: #ecc777; }
